*
{
    padding: 0;
    margin: 0;
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
figure{
    display: flex;
    justify-content: center;
    margin-top: -20px;
}
figure img{
width: 200px;
}
/* naigationbar */
nav{
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: lightslategray;
    
}
nav a{
    color:#322d2d ;
    text-decoration: none;
}


/* Home */
.Home{
    display: flex;
justify-content: space-evenly;
margin-right: 50px;

}
.Home div{
padding-top: 140px;
}
.Home img{
    margin-left: 20px;
    width: 500px;
    margin-top: 20px;
}
.Home h2{
    font-size: 40px;
    font-weight: 800;
}
.Home input{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
}
/* Section */
section{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;

}

section p {
    padding-top: 30px;
}

/* For mobile */
@media(max-width: 420px){
    figure{
        margin-top: -15px;
    }
    figure img{
        width: 100px;
    }
/* Home */
.Home{
    margin-right: 10px;
}
.Home div{
    padding: 60px;
    padding-left: 40px;
}
.Home div{
    width: 200px;
    padding-left: 10px;
    margin-top: 10px;
}
.Home input{
    width: 100px;
    margin-top: 7px;
    height: 20px;
}
.Home h2{
    font-size: 10px;
}
/* Section */
section{
    padding-top: 30px;
    padding-bottom: 10px;
}
section h3{
font-size: medium;
}
}